{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <form action="{% url 'lista_peliculas' %}" method="get" class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" name="q" placeholder="Buscar...">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
    <h1 class="mb-3 text-center">Recomendación de Películas</h1>
    <h4 class="text-secondary">Si te gustó "{{ pelicula.title }}", te recomendamos las siguientes películas:</h4>
    <div class="row justify-content-md-center mt-4">
        {% for pelicula in peliculas_similares %}
            <div class="col-md-4 mb-5 mr-5 d-grid gap-2 align-self-center">
                <a class="btn btn-success " href="{% url 'recomendacion_peliculas' pelicula.id %}">
                    <h5 class="h5">{{ pelicula.title }}</h5>
                    <img src="https://image.tmdb.org/t/p/w200/{{ pelicula.poster_path }}" alt="{{ pelicula.title }}">
                    
                        {% for genero in pelicula.generos%}
                            {% if forloop.first %}  
                                {{genero}}
                            {% else %}
                                - {{genero}}
                            {% endif %}
                        {% endfor %}
                     </a>
            </div> 
            <div class="col-md-8 ml-5 align-self-center text-center">
                <h6 class="h6">{{ pelicula.overview }}</h6>
            </div>   
        {% empty %}
            <div class="col-md-12">
                No hay películas disponibles.
            </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}